body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: rgb(59, 41, 18);
  color: white;
  background-image: url("background.png");  
}

div.result {
  background-color: white;
  color: rgb(80, 44, 14);
  width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

div#tabelaHistorico {
  background-color: white;
  color: rgb(80, 44, 14);
  width: 900px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  font-size: 13px;
  text-align: center;
}

div#resPed {
  width: 600px;
  margin: 0 auto;
}

.inputcadastro {
  width: 200px;
}

.formContainer {
  background-color: white;
  color: rgb(80, 44, 14);
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
  width: 600px;
  margin: 0 auto;
  clear: both;
}

.formContainer input {
  width: 90%;
  clear: both;
  margin: 5px;
}

.formContainer #btn-cadastro {
  background-color: rgb(146, 98, 58);
  border-radius: 3px;
  height: 30px;
  width: 100px;
  margin: 10px;
  color: antiquewhite;
  font-size: 15px;
}

#tabelaClientes {
  display: flexbox;
  justify-content: space-evenly;
  background-color: white;
  color: rgb(80, 44, 14);
  width: 600px;
  margin: 5px auto;
  font-size: 12px;
  text-align: left;
}

table {
  width: 100%;
}

th, td {
  height: 50px;
  padding: 5px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#sectionDelete {
padding: 7px;
}

