

body {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  background-color: rgb(59, 41, 18);
  background-image: url("background.png");  

}

#logo {
  display: block;
  width: 100%;
  top: 0;
}

a {
  text-decoration: none;
} 

/* Navegação */
nav {
  text-align: center;
}

nav span {
  display: inline;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 2px;
  margin: 10px 20px;
}

nav a {
  color: #c9c8c8;
}
nav a:hover {
  color: #fffdfd;
}


/* Produtos */

#content {
  display: flexbox;
  width: 800px;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

.produtos > img {
  width: 300px;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
}

.prodTitle {
  color: rgb(121, 67, 23);
  padding: 20px; 
}

.descricao {
  font-style: normal;
  font-size: 15px;
  font-weight: 150;
}

.btnPedido {
  background-color: burlywood;
  border-radius: 5px;
  width: 60px;
  height: 35px;
  font-size: 14px;
  color: rgb(121, 67, 23);
  border: 1px solid rgb(121, 67, 23);
  margin-bottom: 20px;
}

.btnPedido:hover {
  background-color: rgb(224, 169, 97);
  border: 1px solid rgb(80, 44, 14);
  color: #FFF;
}

/* Localizaçao */

footer {
  color: white;
  font-weight: 200;
  text-align: left;
  width: 100%;
  margin: 0;
  background-color: rgb(59, 41, 18);
}

#revisao {
  display: relative;
  background-color: white;
  color: rgb(80, 44, 14);
  width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}

#efetuarPedido {
  text-align: center;
  width: 120px;
  height: 50px;
  margin: auto;
}

